.background-container {
    background-image: url('https://img.freepik.com/free-photo/healthy-italian-bread-sandwich-chopping-board-with-spices-tomato-tagliatelle-pasta_23-2148194996.jpg?semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
   
    
   
  }
 